@import url("style.css");

.food-items-sidebar {
  padding-top: var(--ws-large);
  padding-bottom: var(--ws-large);
  gap: var(--ws-4);
}

/*=== food header ===*/
.food-items {
  width: 70%;
}

.food-items-title {
  white-space: nowrap;
}

.food-items-display-style {
  margin-top: var(--ws-1);
}

.food-items-veg,
.food-items-carn {
  border-radius: 50px;
  box-shadow: 20px 20px 50px 0px #cdcdcd inset, -10px -10px 50px 0px #fff inset;
  width: 50px;
  height: 30px;
}

.food-items-veg {
  border: 2px solid #7ba700;
}

.food-items-carn {
  border: 2px solid var(--clr-accent);
}

.food-items-veg svg,
.food-items-carn svg {
  margin-left: 0.2rem;
}

.food-category-item {
  width: fit-content;
  padding: var(--ws-2) var(--ws-3);
  border-radius: 50px;
  border: 1px solid #fff;
  background: #f6f6f6;
  white-space: nowrap;
  box-shadow: 20px 20px 50px 0px #cdcdcd inset, -10px -10px 50px 0px #fff inset;
}

/*=== food item content ===*/
.food {
  border-radius: 8px;
  background: #fff;
  padding: var(--ws-3);
  width: 100%;
}

.food-items-content {
  padding-top: var(--ws-large);
  /* display: grid; */
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  grid-gap: var(--ws-4);
  display: none;
}

.food-items-content.active {
  display: grid;
}

.food-img {
  width: 140px;
  height: 140px;
  border-radius: 6px;
  background: lightgray 50% / cover no-repeat, #d9d9d9;
}

.food-rating-fav {
  gap: var(--ws-4);
}

.food-rating-content {
  border-radius: 3px;
  width: fit-content;
  padding: var(--ws-1) var(--ws-2);
  background-color: var(--clr-splash);
}

.food-rating-figure {
  color: #f6f6f6;
}

.food-rating-status {
  color: var(--clr-accent);
}

.food-add-btn {
  border-radius: 100px;
  background: linear-gradient(
    90deg,
    #ff6315 0%,
    #ff411c 25%,
    #ff1d23 50%,
    #ff0728 75%,
    #ff002a 100%
  );
  color: #f6f6f6;
  padding: var(--ws-2) var(--ws-4);
}

.food-items-display-list svg rect,
.food-items-display-grid svg circle {
  fill: #bbbbbb;
}

.food-items-display-list.active svg rect,
.food-items-display-grid.active svg circle {
  fill: #1b1b1b;
}

/*=== food grid display ===*/
.food-items-grid-content {
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  gap: var(--ws-4);
  display: none;
  padding-top: var(--ws-large);
}

.food-items-grid-content.active {
  display: grid;
}

.food-grid-item {
  border-radius: 8px;
  border: 2px solid #fff;
  background: #f6f6f6;
  box-shadow: 10px 10px 50px 0px #cdcdcd, -10px -10px 50px 0px #fff,
    -10px -10px 100px 0px #cdcdcd inset, 10px 10px 100px 0px #fff inset;
  height: 100px;
}

.food-grid-item p {
  white-space: wrap;
  text-align: center;
}

/*=== food sidebar ===*/

.food-sidebar {
  width: 30%;
  gap: var(--ws-reg);
  position: relative;
}

.food-sidebar-top,
.food-sidebar-payment-portal,
.food-sidebar-restaurant-info,
.food-sidebar-slider,
.food-sidebar-payment-summary {
  padding: var(--ws-reg);
  border-radius: 8px;
  background: #fff;
}

.food-sidebar-top {
  gap: var(--ws-3);
}

.food-sidebar-choice-p {
  color: #7ba700;
}

.food-sidebar-rating-p {
  color: #9747ff;
}

.food-sidebar-category-item {
  border-radius: 4px;
  border: 1px solid #eaeaea;
  padding: var(--ws-1);
  background: #fff;
}

.food-sidebar-payment-link {
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #ff6315 0%,
    #ff411c 25%,
    #ff1d23 50%,
    #ff0728 75%,
    #ff002a 100%
  );
  color: #fff;
  padding: var(--ws-2) var(--ws-3);
}

.food-sidebar-restaurant-info {
  justify-content: space-between;
}

.food-sidebar-slider {
  position: relative;
}

.food-sidebar-slider-container {
  overflow-x: hidden;
}

.food-sidebar-slide-counter {
  position: absolute;
  right: 0%;
  bottom: 50%;
  margin-right: var(--ws-reg);
  /* transform: translate(-50%, -50%); */
}

.food-sidebar-span {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  opacity: 0.4;
}

.food-sidebar-span.active {
  width: 6px;
  height: 6px;
  opacity: 1;
}

.food-sidebar-slide {
  position: relative;
  opacity: 0;
}

.food-sidebar-slide.display {
  position: relative;
  opacity: 1;
}

.food-sidebar-slide-icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: rgba(255, 99, 21, 0.25);
}

.food-sidebar-text-p {
  text-align: center;
}

.food-sidebar-order-container {
  position: relative;
  height: 10vh;
  width: 100%;
}

.food-sidebar-order-delivery {
  border-radius: 8px;
  border: 1px solid #fff;
  background: #f6f6f6;
  box-shadow: 10px 10px 50px 0px #cdcdcd, -10px -10px 50px 0px #fff,
    -10px -10px 100px 0px #cdcdcd inset, 10px 10px 100px 0px #fff inset;
  transition: all 0.3 ease;
}

.food-sidebar-delivery-content {
  padding: var(--ws-reg);
}

.food-sidebar-delivery-list {
  display: none;
  width: 100%;
  height: auto;
  top: 100%;
  z-index: var(--z-2);
}

.food-sidebar-delivery-list.active {
  display: block;
}

.food-sidebar-delivery-item {
  padding: var(--ws-reg);
  transition: all 0.3s ease;
}

.food-sidebar-delivery-item:hover {
  background-color: #d9d9d970;
}

.food-sidebar-delivery-item svg {
  opacity: 0;
}

.food-sidebar-delivery-item:hover svg {
  opacity: 0.4;
}

.food-sidebar-delivery-item.active {
  background-color: var(--clr-background);
}

.food-sidebar-delivery-item.active svg {
  opacity: 1;
}

.food-sidebar-summary-container {
  gap: var(--ws-reg);
  padding: var(--ws-reg) 0;
  border-bottom: 1px solid #00000070;
}

.food-sidebar-payment-total {
  padding: var(--ws-reg) 0px;
}

.food-sidebar-view-basket {
  border-radius: 100px;
  background: linear-gradient(
    90deg,
    #ff6315 0%,
    #ff411c 25%,
    #ff1d23 50%,
    #ff0728 75%,
    #ff002a 100%
  );
  padding: var(--ws-3);
}

.food-sidebar-view-p {
  color: #fff;
}

.food-sidebar-view-items p {
  color: #fff;
  font-weight: normal;
}

.food-sidebar-btn-space {
  padding: var(--ws-reg);
  height: 10vh;
  position: relative;
}

.food-sidebar-menu-content {
  border-radius: 36px;
  border: 2px solid #ff6315;
  background: #fff;
  padding: var(--ws-3);
  width: fit-content;
  position: absolute;
  bottom: -50%;
  transition: all 0.3s ease;
}

.food-sidebar-menu-content.active {
  width: 80%;
  padding: var(--ws-3) var(--ws-4);
}

.food-sidebar-menu-list {
  display: none;
  padding-bottom: var(--ws-4);
}

.food-sidebar-menu-content.active .food-sidebar-menu-list {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1115px) {
  .food-items-veg-carn {
    display: none;
  }

  .food-items-grid-content {
    grid-template-columns: repeat(3, 1fr);
  }

  /* .food-grid-item {
    width: 145px;
    height: 80px;
  } */

  .food-items-sidebar {
    gap: var(--ws-3);
  }

  .food-sidebar-slide-counter {
    bottom: 60%;
  }

  .food-sidebar-slide-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1090px) {
  .food-items-sidebar {
    flex-direction: column-reverse;
  }

  .food-sidebar-order-container,
  .food-sidebar-payment-summary,
  .food-sidebar-btn-space {
    display: none;
  }

  .food-sidebar-text {
    padding-bottom: var(--ws-4);
  }

  .food-items {
    width: 100%;
  }

  .food-items-veg-carn {
    display: flex;
  }

  .food-sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 840px) {
  /* .food {
    width: fit-content;
  } */

  .food-items-title {
    display: none;
  }

  .food-img {
    width: 110px;
    height: 110px;
  }
}

@media screen and (max-width: 750px) {
  .food-items-content {
    grid-template-columns: minmax(5rem, 1fr);
    place-items: center;
  }

  .food-category-item:last-child {
    display: none;
  }

  .food {
    width: fit-content;
  }
}

@media screen and (max-width: 440px) {
  .food-items-header {
    align-items: end;
    flex-direction: column;
    gap: var(--ws-3);
  }

  .food-items-category {
    align-items: right;
  }

  .food-items-veg-carn, .food-items-category, .food-category-list {
    gap: var(--ws-1);
  }

  .food-items-grid-content {
    gap: var(--ws-2);
  }

  .food {
    gap: var(--ws-2);
    padding: var(--ws-2);
  }

  .food-add-btn-container {
    justify-content: flex-start;
  }
}
